
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden.modal {
        transform: scale(0.9) translate(-50%, -50%);
      }
     &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }
  }
 
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buton--close {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    border: 0;
    padding: 0;
    background-color: $color-white;
  }
  .button--close-icon {
    padding: 6px;
    fill: $color-black;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        fill: $color-blue;
      }
  }
 
 
  .modal__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $color-black2;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  .modal__form-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $color-gray;
  
  & input {
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  & input:hover {
    cursor: pointer;
    border-color: $color-blue;
  }
  &:hover {
    cursor: pointer;
    fill: $color-blue;
  }
  &:focus-within > input {
    border-color: $color-blue;
    outline: none;
  }
  &:focus-within > .modal__icon {
    fill: $color-blue;
  }
  & textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & > ::placeholder {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & textarea:hover {
    cursor: pointer;
    border-color: $color-blue;
  }
  & textarea:focus-within {
    border-color: $color-blue;
    outline: none;
  }
 &:hover > ::placeholder {
    color: $color-blue;
  }
  &:focus-within > ::placeholder {
    color: $color-blue;
  }}
  
  .modal__icon {
    position: absolute;
    left: 52px;
    bottom: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__checkbox {
    padding-left: 52px;
    margin-top: 30px;
    display: flex;
    align-content: center;
    position: relative;
  }
  .modal__checkbox label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    color: $color-gray;
    padding-left: 22px;
    position: absolute;
  }
  .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  .checkbox__icon {
    display: inline-block;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid $color-black2;
    border-radius: 4px;
  }
  
  .checkbox:checked + .checkbox__icon {
    background-color: $color-blue;
    background-image: url(../images/check.svg);
    background-size: contain;
    fill: $color-white;
    background-origin: border-box;
    border-color: $color-blue;
  }
  .modal__policy {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17px;
    text-decoration-line: underline;
    color: $color-blue;
  }
  
  .modal__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover {
        background-color: $color-white;
        color: $color-blue;
      } }
 
  