.page-footer {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background: $color-gray6;
    justify-content: center;
    position: relative;
    padding: 60px 0;
  }
  .main-footer {
    display: block;
   text-align: center;
 
  }
  .page-footer__logo{display: block;
 text-align: center;
 margin-bottom: 20px;}
  .page-footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $color-white;
  }
  .page-footer__contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 8px;
    display: inline-block;
  }
  .page-footer__tel { 
    margin-top: 8px; 
    margin-bottom: 60px;
   }
   .join-in { 
    display: block;
  text-align: center;
  }
  .join-in__title {
    font-family:$font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.14;
    line-height: 16px;
    color:$color-white;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .page-footer__social-networks{
    fill: $color-white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        fill: $color-white;
        background-color:$color-blue;
      }
  }

  .sign-up {
    display: block;
    text-align: center;
    color: $color-white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 12px;
  }
  .page-footer__form-field {
    display: block;
    margin-top: 20px;
  
    & input {
        margin-top: 20px;
        padding: 15px 16px;
        background-color: $color-gray6;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      & input:hover {
        border-color:$color-blue;
      }
      & > ::placeholder {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      &:hover > ::placeholder {
        color: $color-blue;
      }
      & input:focus-within {
        outline: none;
        border-color: $color-blue;
      }
      &:focus-within > ::placeholder {
        color: $color-blue;
      }
  }
  .button__icon {
    fill: $color-white;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-footer__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
    padding: 10px 28px; 
    color: $color-white; 
    &:hover svg {
        fill: $color-blue;
      }
     
      &:hover,
      &:focus {
        background-color:$color-white;
        color: $color-blue;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
      }
  } 
  @media screen and (min-width: 768px){.page-footer {
    max-width: 768px;}
.main-footer{display: inline-block;
margin-left: 76px;}
.join-in{display: inline-block;
margin-left: 165px;
transform: translateY(-50%);}
.page-footer__form-field{width: 450px;
margin-left: auto;
margin-right: auto;}
}
@media screen and (min-width: 1200px){
  .page-footer {max-width: 100%;}
  .page-footer__logo{text-align: left;}
  .main-footer{text-align: left;
  margin-left: 15px;}
  .page-footer__tel{margin-bottom: 0;}
  .join-in{ margin-left: 70px;
  &__title{text-align: left;}}
  .sign-up{display: inline-block;
    padding-top: 0;
    position: relative;
    transform: translateY(-50%);
  }
  .page-footer__form-field{display: inline-block;
    width: 358px;
    margin-left: 93px;
    margin-right: 0;
    margin-top: 0;
   }
   .page-footer__label{display: block; 
    text-align: left;}
    .page-footer__button{
    position: absolute;
    left: 370px;
    bottom: 0;
    transform: translateX(50%);
    } 
    .join-in__title{margin-top: 0;}
}