.buttons__list {
    display: flex;
    justify-content: center;
  }
  .portfolio-button__text {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    background-color: $color-white3;
    color: $color-black2;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus {
        background-color: $color-blue;
        color: $color-white;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      &:hover {
        background-color: $color-blue;
        cursor: pointer;
        color: $color-white;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
  }

  .buttons__item:nth-child(n + 2) {
    margin-left: 8px;
  }
  
  .card__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 56px;
  }
  .card__hover {
    position: relative;
    overflow: hidden;
  }
  .card__description {
    font-family:$font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: $color-white;
    background-color: $color-blue2;
    padding: 63px 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card__item:hover .card__description {
    transform: translateY(0);
  }
  .card__title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $color-black2;
    margin-top: 20px;
    text-indent: 24px;
  }
  .card__text {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: $color-gray;
    margin-top: 4px;
    margin-bottom: 20px;
    text-indent: 24px;
  }
  .card__item {
    border-bottom: 1px solid $color-white4;
    border-left: 1px solid $color-white4;
    border-right: 1px solid $color-white4;
    background-color:$color-white;
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__item:nth-child(n + 4) {
    margin-top: 30px;
  }
  .card__item:nth-child(3n-1) {
    margin-left: 30px;
    margin-right: 30px;
  }