.what-we-do{display: none;}
@media screen and (min-width: 1200px){
.what-we-do {display: block;
  margin-left: auto;
  margin-right: auto;
    padding-top: 0;
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    height: 294px;
    position: relative;
  }
 
  &__title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-white;
    background-color: $color-gray3;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }}}